$cultured: #faf9f8;
$blue: #5b6d84;
$lblue: #6f829b;
$pink: #e1d1d8;
$barpink: rgba(255, 99, 132, 0.2);
$dbarpink: rgba(255, 99, 132, 1);
$barblue: rgba(54, 162, 235, 0.2);
$dbarblue: rgba(54, 162, 235, 1);
$baryellow: rgba(255, 206, 86, 0.2);
$dbaryellow: rgba(255, 206, 86, 1);
$dbargreen: rgba(75, 192, 192, 1);
$dorange: #d64d16;
$taupe: #a59595;
$ltaupe: #edeaea;
$dtaupe: #917e7e;
