@use "./base/variables" as *;
@use "./base/fonts";
@use "./base/reset";

// variables

@property --HROT {
  syntax: "<number>"; /* <- defined as type number for the transition to work */
  initial-value: 30;
  inherits: false;
}

@property --VROT {
  syntax: "<number>"; /* <- defined as type number for the transition to work */
  initial-value: -45;
  inherits: false;
}

// fonts

@font-face {
  font-family: "Tilt Prism";
  src: url("../fonts/tilt/TiltPrism[HROT,VROT].woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Tilt Neon";
  src: url("../fonts/tilt/TiltNeon[HROT,VROT].woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Borsok";
  src: url("../fonts/borsok/boorsok.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Monopoly";
  src: url("../fonts/monopoly/Monopoly-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

// base styles

html {
  font-size: 62.5%;
  font-family: "Tilt Neon", sans-serif;
  // scroll-behavior: smooth;
  body {
    font-size: 2rem;
    min-height: 100vh;
    #container {
      max-width: 1400px;
      min-height: 100vh;
      margin: 0 auto;
      background-color: $cultured;
      padding: 0 20px 40px 20px;
    }
  }
}

// header styles

h1 {
  font-family: "Tilt Prism", sans-serif;
  text-align: center;
  font-weight: 100;
  //   font-size: 8rem;
  font-variation-settings: "HROT" var(--HROT), "VROT" var(--VROT);
  animation: none;
  padding: 30px 0 20px 0;
}

// intro text styles

.intro {
  width: 100%;
  //   font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 2.4rem;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  align-items: flex-start;
  &__text {
    border-right: none;
    width: 0;
    text-align: center;
    animation: none;
    white-space: nowrap;
    overflow: hidden;
  }
}

// Main styles

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  #search {
    form {
      //   display: flex;
      flex-direction: column;
      align-items: center;
      padding: 70px 0;
      font-size: 2.2rem;
      label {
        text-align: center;
        display: block;
      }
      input,
      button {
        margin-top: 5px;
        font-size: 2rem;
      }
      input {
        //   background-color: $lblue;
        border: 2px solid black;
        color: $blue;
        border-radius: 20px;
        outline: none;
        height: 42px;
        width: 300px;
        padding: 0 20px;
        font-family: "Tilt Neon", sans-serif;
        font-weight: 500;
        letter-spacing: 0.1rem;
        &::placeholder {
          color: $blue;
        }
      }
      button {
        background-color: $cultured;
        padding: 5px 20px;
        border: 2px solid black;
        border-radius: 20px;
        height: 42px;
        margin-left: 5px;
        outline: none;
        font-family: "Tilt Neon";
        cursor: pointer;
        transition: all 0.5s;
        display: inline-block;
      }
    }
  }
  #results {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    p {
      margin-bottom: 30px;
      font-size: 2.2rem;
      line-height: 2.7rem;
      text-align: center;
    }
    canvas {
      //   height: 0;
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  main #search button:hover {
    background-color: $barblue;
    color: $blue;
  }
}

// sad smiley icon

#sad {
  display: block;
  width: 150px;
  height: auto;
}

// animations

@keyframes tilt {
  0% {
    --HROT: 30;
    --VROT: -45;
    // color: $blue;
    font-size: var(--fszstart);
  }
  100% {
    --HROT: 0;
    --VROT: 0;
    // color: inherit;
    font-size: var(--fszend);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-12-6 7:3:2
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-lr
 * ----------------------------------------
 */
@-webkit-keyframes shake-lr {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  80% {
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }
  90% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
}
@keyframes shake-lr {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  80% {
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }
  90% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
}

// responsive styles

@media screen and (min-width: 813px) {
  :root {
    --fszstart: 5rem;
    --fszend: 8rem;
  }
}

@media screen and (max-width: 1087px) {
  main #results {
    width: 60%;
  }
}

@media screen and (max-width: 997px) {
  main #results {
    width: 70%;
  }
}

@media screen and (max-width: 812px) {
  :root {
    --fszstart: 4rem;
    --fszend: 7rem;
  }
  .intro {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 687px) {
  :root {
    --fszstart: 3rem;
    --fszend: 6rem;
  }
  .intro {
    font-size: 2rem;
  }
  main {
    #search {
      form {
        font-size: 2rem;
        input,
        button {
          font-size: 1.8rem;
        }
        input {
          width: 240px;
        }
      }
    }
    #results {
      width: 80%;
      p {
        font-size: 2rem;
      }
    }
  }
}

@media screen and (max-width: 603px) {
  .intro {
    font-size: 1.8rem;
  }
  main {
    #search {
      form {
        font-size: 1.8rem;
        input,
        button {
          font-size: 1.8rem;
        }
        input {
          width: 240px;
        }
      }
    }
    #results {
      width: 90%;
      p {
        font-size: 1.8rem;
      }
    }
  }
}

@media screen and (max-width: 437px) {
  :root {
    --fszstart: 5rem;
    --fszend: 6rem;
  }
  .intro {
    font-size: 1.6rem;
  }
  main {
    #search {
      form {
        display: flex;
        font-size: 1.6rem;
        input,
        button {
          font-size: 1.6rem;
          margin-top: 15px;
        }
        input {
          width: 240px;
        }
      }
    }
    #results {
      width: 90%;
      p {
        font-size: 1.6rem;
      }
    }
  }
}

@media screen and (max-width: 391px) {
  :root {
    --fszstart: 4.5rem;
    --fszend: 5rem;
  }
  .intro {
    font-size: 1.5rem;
  }
  main {
    #search {
      form {
        padding: 50px 0;
      }
    }
    #results {
      width: 95%;
    }
  }
  #sad {
    width: 120px;
  }
}

@media screen and (max-width: 364px) {
  html {
    body {
      #container {
        padding: 0 10px 40px 10px;
      }
    }
  }
  .intro {
    font-size: 1.3rem;
  }
}
