@use "./base/variables" as *;
@use "./base/fonts";
@use "./base/reset";

// variables

@property --HROT {
  syntax: "<number>"; /* <- defined as type number for the transition to work */
  initial-value: 30;
  inherits: false;
}

@property --VROT {
  syntax: "<number>"; /* <- defined as type number for the transition to work */
  initial-value: -45;
  inherits: false;
}

// fonts

@font-face {
  font-family: "Tilt Prism";
  src: url("../fonts/tilt/TiltPrism[HROT,VROT].woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Tilt Neon";
  src: url("../fonts/tilt/TiltNeon[HROT,VROT].woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Borsok";
  src: url("../fonts/borsok/boorsok.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Monopoly";
  src: url("../fonts/monopoly/Monopoly-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

// base styles

html {
  font-size: 62.5%;
  font-family: "Tilt Neon", sans-serif;
  // scroll-behavior: smooth;
  body {
    font-size: 2rem;
    min-height: 100vh;
    #container {
      max-width: 1400px;
      min-height: 100vh;
      margin: 0 auto;
      background-color: $cultured;
      padding: 0 20px;
    }
  }
}

// header styles

h1 {
  font-family: "Tilt Prism", sans-serif;
  text-align: center;
  font-weight: 100;
  font-size: 8rem;
  font-variation-settings: "HROT" var(--HROT), "VROT" var(--VROT);
  animation: none;
  padding: 30px 0 20px 0;
}

// intro text styles

.intro {
  width: 100%;
  //   font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  font-size: 2.4rem;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  align-items: flex-start;
  &__text {
    border-right: none;
    width: 0;
    text-align: center;
    animation: none;
    white-space: nowrap;
    overflow: hidden;
  }
}

// Main styles

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  #search {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    font-size: 2.2rem;
    input,
    button {
      margin-top: 20px;
      font-size: 2rem;
    }
    input {
      background-color: $lblue;
      color: white;
      border-radius: 20px;
      border: none;
      outline: none;
      height: 42px;
      width: 300px;
      padding: 0 20px;
      font-family: "Tilt Neon", sans-serif;
      font-weight: 600;
      letter-spacing: 0.1rem;
      &::placeholder {
        color: white;
      }
    }
    button {
      background-color: $cultured;
      padding: 5px 10px;
      border-radius: 5px;
      outline: none;
      font-family: "Tilt Neon";
      cursor: pointer;
      transition: all 0.5s;
    }
  }
  #results {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    p {
      text-align: center;
      font-size: 2.2rem;
      margin-bottom: 20px;
    }
    canvas {
      //   height: 0;
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  main #search button:hover {
    background-color: $barblue;
    color: $lblue;
  }
}

// sad smiley icon

#sad {
  display: block;
  width: 150px;
  height: auto;
}

// animations

@keyframes tilt {
  0% {
    --HROT: 30;
    --VROT: -45;
    color: $blue;
    font-size: 5rem;
  }
  100% {
    --HROT: 0;
    --VROT: 0;
    color: inherit;
    font-size: 8rem;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
